.wrapper {
    margin: 1rem;
}

.mainSection {
    text-align: center;
}

section {
    padding: 2rem;
    margin: 0;
}

img {
    width: 25vh;
}

h2,
p {
    color: #ac3d27;
}

.textBackgroundColor {
    background-color: #FFDAB9;
    border-radius: 25px;
}